body {
    background-image: linear-gradient(
        rgb(77,91,171),
        rgb(46,74,234)  
    );
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    border-radius: 0.2em;
    background-color: white;
    padding: 0em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#login-info {
    display: flex;
    flex-direction: column;
}

.botão {
    background-color: rgb(235, 189, 47);
    width: 40%;
    border: 0;
    border-radius: 0.3em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.4em;
}

.botão-clicado{
    background-color: rgb(235, 192, 66);
    width: 41%;
    border: 0;
    border-radius: 0.3em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0.45em;
}

#email-login{
    text-align: center;
    font-size: 0.7em;
    padding: 0.25em;
}

#senha-login{
    margin: 1em 0em 1em 0em;
    text-align: center;
    font-size: 0.7em;
    padding: 0.25em;
}

#cadastro-login{
    background-color: inherit;
    border: 0;
    margin-top: 0.8em;
    font-size: 0.7em;
    color: #2E4AEA;
}

#esqueci-login{
    background-color: inherit;
    border: 0;
    font-size: 0.7em;
    color: #2E4AEA;
}